html, body{
    margin: 0px;
    padding: 0px;
}

/* Icons in list */
.collection .collection-item.avatar{
    min-height: calc(84px - 20px);
    margin-bottom: 15px;
}
.collection .collection-item.avatar .third-content {
    position: absolute;
    top: 16px;
    right: calc(3 * 16px);
}
.collection .collection-item.avatar .fourth-content {
    position: absolute;
    top: 16px;
    right: calc(5 * 16px);
}